*.iml
.gradle
/local.properties
/key.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
# 추가된 부분
local.properties
key.properties
app/google-services.json
bus_key.jks

gradle